body {
    background-color: #000;
    color: white;
    font-size: 21px;
    background-image: url(../img/fancy-cushion.webp);
}
p {
    color: #FFCC00;

}
h1{
    font-size: 70px;
    color: #b3003b;
}

.top-section {
    background-color: #e68a00;
}

.bottom-section {
    background-color: #ffd699;
    color: #ba226e;
}

/* .intro { 
    color: #b30059;
    font-size: 50px;

}*/
/* the CSS box model */

/* margin - empty space around my element*/
/* Border - a border around an element*/
/* Padding - empty space WITH background around my element*/
/* ALL of these ADD on top of the width and height! */

.box {
    background-color: #b30059;
    width: 300px;
    margin: 50px;
    border-width: 15px;
    border-color: #e60000;
    border-style: inset;
    padding: 100px 50px 300px 25px; /*top, right, bottom, left. 
    - 2 valuse (top & bottom) - (left & right)
    - 3 valuse (top) - (left & right) - (bottom)*/
    background-image: url(../img/ray.jpg);
    background-size: cover;
    background-position: center; 
}
.box-text{
    color: rgb(214, 115, 115);
}


#bottom-text {
    background-color: rgb(255, 0, 0);
}