body {
    background-color: #000;
    color: white;
    font-size: 21px;
}

p {
    color: #FFCC00;

}
h1{
    font-size: 70px;
    color: #b3003b;
}

.top-section {
    background-color: #e68a00;
}

.bottom-section {
    background-color: #ffd699;
    color: #b30059;
}

.intro {
    color: #b30059;
    font-size: 50px;

}

span {
    color: #cc0000;
    font-size: 40px;
}

#bottom-text {
    background-color: aqua;
}